<div class="jumbotron text-center">
    <h1>련재의 드림월드</h1>
    <p class="lead">어서오세요 환상의 나라 련재랜드</p>
    <div>
        <a class="btn btn-primary" routerLink='/register'>Register</a>
        <a class="btn btn-success" routerLink='/login'>Login</a>
      </div>
</div>
 
<div class="row">
    <div class="col">
        <h3>모여봐요</h3>
        <img src="https://www.gamewoori.com/shopimages/gamewoori/0050020003062.jpg?1580979183" width="300" height="200">
      </div>
    <div class="col">
        <h3>동물의</h3>
        <img src="http://i.011st.com/ex_t/R/400x400/1/85/0/src/pd/20/0/6/9/4/0/4/GbYgA/2806069404_B.jpg" width="300" height="200">
      </div>
    <div class="col">
        <h3>숲</h3>
        <img src="https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2020%2F04%2Femart-release-nintendo-switch-animal-crossing-edition-00.jpg?q=75&w=800&cbr=1&fit=max" width="300" height="200">
      </div>
</div>
